pytest
pytest-asyncio
cssselect==1.2.0
pytest-cov
pydantic_core==2.1.2
pydantic_settings
lxml
aiohttp
aiofiles
fastapi
uvicorn
colorama
coloredlogs
pyyaml
redbird @ git+https://github.com/ManiMozaffar/red-bird@v2_but_v1
rocketry @ git+https://github.com/ManiMozaffar/rocketry@master
moreitertools
